@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Athiti:400,500,600&subset=thai');
@import "loader.css";

@font-face {
				font-family: "DBHeavent-B";
				src: url("../../fonts/DBHeaventBdv321.eot");
				/* IE9 Compat Modes */
				src: url("../../fonts/DBHeaventBdv321.eot?#iefix") format("embedded-opentype"),
								/* IE6-IE8 */
								url("../../fonts/DBHeaventBdv321.otf") format("opentype"),
								/* Open Type Font */
								url("../../fonts/DBHeaventBdv321.svg") format("svg"),
								/* Legacy iOS */
								url("../../fonts/DBHeaventBdv321.ttf") format("truetype"),
								/* Safari, Android, iOS */
								url("../../fonts/DBHeaventBdv321.woff") format("woff"),
								/* Modern Browsers */
								url("../../fonts/DBHeaventBdv321.woff2") format("woff2");
				/* Modern Browsers */
				font-weight: normal;
				font-style: normal;
}

@font-face {
				font-family: "DBHeavent";
				src: url("../../fonts/DBHeaventv321.eot");
				/* IE9 Compat Modes */
				src: url("../../fonts/DBHeaventv321.eot?#iefix") format("embedded-opentype"),
								/* IE6-IE8 */
								url("../../fonts/DBHeaventv321.otf") format("opentype"),
								/* Open Type Font */
								url("../../fonts/DBHeaventv321.svg") format("svg"),
								/* Legacy iOS */
								url("../../fonts/DBHeaventv321.ttf") format("truetype"),
								/* Safari, Android, iOS */
								url("../../fonts/DBHeaventv321.woff") format("woff"),
								/* Modern Browsers */
								url("../../fonts/DBHeaventv321.woff2") format("woff2");
				/* Modern Browsers */
				font-weight: normal;
				font-style: normal;
}

@font-face {
				font-family: "DBHeavent-T";
				src: url("../../fonts/DBHeaventThinv321.eot");
				/* IE9 Compat Modes */
				src: url("../../fonts/DBHeaventThinv321.eot?#iefix") format("embedded-opentype"),
								/* IE6-IE8 */
								url("../../fonts/DBHeaventThinv321.otf") format("opentype"),
								/* Open Type Font */
								url("../../fonts/DBHeaventThinv321.svg") format("svg"),
								/* Legacy iOS */
								url("../../fonts/DBHeaventThinv321.ttf") format("truetype"),
								/* Safari, Android, iOS */
								url("../../fonts/DBHeaventThinv321.woff") format("woff"),
								/* Modern Browsers */
								url("../../fonts/DBHeaventThinv321.woff2") format("woff2");
				/* Modern Browsers */
				font-weight: normal;
				font-style: normal;
}

* {
				font-family: 'DBHeavent', 'Athiti', sans-serif;
				color: #414042;

				font-size: 1em;
}

.text-b {
				font-family: 'DBHeavent-B', 'Athiti', sans-serif;
}

.text-t {
				font-family: 'DBHeavent-T', 'Athiti', sans-serif;
}

.j-text{
	color: #AA182C;
}

.success {
				color: #4caf50 !important;
}

.warning {
				color: #ffb300 !important;
}

.error {
				color: #e53935 !important;
}

.error-select {
				border-bottom: 2px solid #e53935;
}

.pull-right {
				float: right;
}

.pull-left {
				float: left;
}

.chip {
				background: #f5bcc4;
				color: #757575;
}

.chip-notify {
				margin: auto !important;
}

.chip-wait {
				background: #ffb300;
				color: #ffffff;
}

.chip-success {
				background: #4caf50;
				color: #ffffff;
}

.chip-dismiss {
				background: #e53935;
				color: #ffffff;
}

.by-footer {
				position: fixed;
				bottom: 0;
				width: 100%;
				left: 0;
				padding: 15px;
				height: 50px;
				background: #fafafa;
				color: rgba(0, 0, 0, 0.5);
				font-size: .9em;
				border-top: solid 1px rgba(0, 0, 0, 0.025);
				text-align: right;
}

.img-center {
				margin: auto;
				width: 50%;
				padding: 10px;
}

.by-footer a {
				font-weight: 400;
}

.form-group {
				margin-bottom: 20px;
}

/* .fa-circle:before {
     color: #2196f3 !important;
 } */
.pointer {
				cursor: pointer;
}

/* progress */
.progress {
				height: 10px;
				margin: 0px;
}

.progress.wait {
				background: #fecdd8;
}

.progress.wait .determinate {
				background: #C10230;
				transition: 1.5s;
}

.progress.assign {
				background: #ffdccc;
}

.progress.assign .determinate {
				background: #FF5100;
				transition: 1.5s;
}

.progress.working {
				background: #fff6cc;
}

.progress.working .determinate {
				background: #FFD600;
				transition: 1.5s;
}

.progress.check {
				background: #ccfff1;
}

.progress.check .determinate {
				background: #00C08B;
				transition: 1.5s;
}

.progress.success {
				background: #ccfffb;
}

.progress.success .determinate {
				background: #00C4B3;
				transition: 1.5s;
}

.progress.error {
				background: #CCC;
}

.progress.error .determinate {
				background: #CCC;
}

/* progress ------- end */
/* table */
.select-row tr td {
				padding: 0px 10px;
}

.btn-group .btn {
				border-radius: 0px !important;
				margin-right: -5.5px;
				border: none !important;
				padding: 0px 10px;
}

.page-num {
				box-shadow: none !important;
				background: rgba(0, 0, 0, .025) !important;
}

.btn-group .btn:first-child {
				border-radius: 5px 0px 0px 5px !important;
}

.btn-group .btn:last-child {
				border-radius: 0px 5px 5px 0px !important;
}

.file-toolbar {
				padding: 10px 0px;
				padding-right: 10px;
				margin-bottom: 0px !important;
}

.search-text {
				margin: auto !important;
}

.file-container tr:hover {
				background-color: #ffe6ea;
				cursor: pointer;
}

.img {}

/* table ------- end */
/* btn */
.btn {
				border: solid 1px #AA182C;
				background: #AA182C;
				color: #fff;
}

.btn-login {
				width: 100%;
				height: 48px;
}

.btn:hover {
				background: #AA182C;
}

.btn.from:hover {
				background: #fff;
				color: #AA182C;
}

.btn:focus {
				background: #AA182C;
}

.btn-line-success {
				border: solid 1px #4caf50;
				background: #fff;
				color: #4caf50;
}

.btn-line-warning {
				border: solid 1px #fbc02d;
				background: #fff;
				color: #fbc02d;
}

.btn-line-danger {
				border: solid 1px #e53935;
				background: #fff;
				color: #e53935;
}

.btn-success {
				border: solid 1px #4caf50;
				background: #4caf50;
				color: #fff;
}

.btn-warning {
				border: solid 1px #fbc02d;
				background: #fbc02d;
				color: #fff;
}

.btn-danger {
				border: solid 1px #e53935;
				background: #e53935;
				color: #fff;
}

/* btn --------- End */
/* input */
input:focus, textarea:focus {
				border-bottom: 1px solid #2196f3 !important;
				box-shadow: 0 1px 0 0 #2196f3 !important;
}

select:focus {
				border: 1px solid #2196f3 !important;
				box-shadow: 0 1px 0 0 #2196f3 !important;
}

/* .preloader {
   width: 100%;
   height: 100%;
   top: 0px;
   position: fixed;
   z-index: 99999;
   background: #fff;
 }
 .preloader .cssload-speeding-wheel {
   position: absolute;
   top: calc(50% - 3.5px);
   left: calc(50% - 3.5px);
 } */
/* input --------- End */
/* swal2 */
.swal2-popup .swal2-input:focus {
				border: 0px !important;
}

.swal2-input .swal2-inputerror {
				border: 0px !important;
}

/* swal2 --------- End */
