@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Athiti:400,500,600&subset=thai');
@import "loader.css";

@font-face {
				font-family: "DBHeavent-B";
				src: url("../../fonts/DBHeaventBdv321.eot");
				/* IE9 Compat Modes */
				src: url("../../fonts/DBHeaventBdv321.eot?#iefix") format("embedded-opentype"),
								/* IE6-IE8 */
								url("../../fonts/DBHeaventBdv321.otf") format("opentype"),
								/* Open Type Font */
								url("../../fonts/DBHeaventBdv321.svg") format("svg"),
								/* Legacy iOS */
								url("../../fonts/DBHeaventBdv321.ttf") format("truetype"),
								/* Safari, Android, iOS */
								url("../../fonts/DBHeaventBdv321.woff") format("woff"),
								/* Modern Browsers */
								url("../../fonts/DBHeaventBdv321.woff2") format("woff2");
				/* Modern Browsers */
				font-weight: normal;
				font-style: normal;
}

@font-face {
				font-family: "DBHeavent";
				src: url("../../fonts/DBHeaventv321.eot");
				/* IE9 Compat Modes */
				src: url("../../fonts/DBHeaventv321.eot?#iefix") format("embedded-opentype"),
								/* IE6-IE8 */
								url("../../fonts/DBHeaventv321.otf") format("opentype"),
								/* Open Type Font */
								url("../../fonts/DBHeaventv321.svg") format("svg"),
								/* Legacy iOS */
								url("../../fonts/DBHeaventv321.ttf") format("truetype"),
								/* Safari, Android, iOS */
								url("../../fonts/DBHeaventv321.woff") format("woff"),
								/* Modern Browsers */
								url("../../fonts/DBHeaventv321.woff2") format("woff2");
				/* Modern Browsers */
				font-weight: normal;
				font-style: normal;
}

@font-face {
				font-family: "DBHeavent-T";
				src: url("../../fonts/DBHeaventThinv321.eot");
				/* IE9 Compat Modes */
				src: url("../../fonts/DBHeaventThinv321.eot?#iefix") format("embedded-opentype"),
								/* IE6-IE8 */
								url("../../fonts/DBHeaventThinv321.otf") format("opentype"),
								/* Open Type Font */
								url("../../fonts/DBHeaventThinv321.svg") format("svg"),
								/* Legacy iOS */
								url("../../fonts/DBHeaventThinv321.ttf") format("truetype"),
								/* Safari, Android, iOS */
								url("../../fonts/DBHeaventThinv321.woff") format("woff"),
								/* Modern Browsers */
								url("../../fonts/DBHeaventThinv321.woff2") format("woff2");
				/* Modern Browsers */
				font-weight: normal;
				font-style: normal;
}

* {
				font-family: 'DBHeavent', 'Athiti', sans-serif;
				color: #414042;
}

.text-b {
				font-family: 'DBHeavent-B', 'Athiti', sans-serif;
}

.text-t {
				font-family: 'DBHeavent-T', 'Athiti', sans-serif;
}

.reset-margin {
				margin: 0 ;
}

.reset-padding{
				padding: 0 ;
}

.display-disable {
				display: none;
}

.fas {
				color: #FFFFFF;
}

.success {
				color: #4caf50;
}

.warning {
				color: #ffb300;
}

.error {
				color: #e53935;
}

.pull-right {
				float: right;
}

.pull-left {
				float: left;
}

.chip-wait {
				background: #ffb300;
				color: #ffffff;
}

.chip-success {
				background: #4caf50;
				color: #ffffff;
}

.chip-dismiss {
				background: #e53935;
				color: #ffffff;
}

.by-footer {
				position: fixed;
				bottom: 0;
				width: 100%;
				left: 0;
				padding: 15px;
				height: 50px;
				background: #fafafa;
				color: rgba(0, 0, 0, 0.5);
				font-size: .9em;
				border-top: solid 1px rgba(0, 0, 0, 0.025);
				text-align: right;
}

.divider.dashed {
	border-top: 1px dashed #8c8b8b;
}
.btn.btn-j{
	background-color: #AA182C;
	font-size: 20px;
}
.btn.btn-j-white{
	background-color: #FFFFFF;
	color: #AA182C;
	font-size: 12px;
	width: 110px;
	margin: 0 3px;
}
.btn-white {
	background-color: #FFFFFF;
  padding: 0 1rem;
  text-transform: uppercase;
	letter-spacing: .5px;
	text-decoration: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-white:hover{
	cursor: pointer;
	background-color: #FFFFFF;
}
.btn-white>i{
	padding: 0 5px;
	color: #414042;
}
.j-text{
	color: #AA182C;
}
.text-inline-block{
	display: inline-block;
}
.text-wrap {
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
  overflow: hidden;
    /* ให้content ที่เกินหายไป */
  text-overflow: ellipsis;
    /* ถ้าเกินให้เติม ... */
  display: -webkit-box;
}
.text-wrap-head {
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
  overflow: hidden;
    /* ให้content ที่เกินหายไป */
  text-overflow: ellipsis;
    /* ถ้าเกินให้เติม ... */
  display: -webkit-box;
}
input[type=text]:not(.browser-default),
input[type=tel]:not(.browser-default){
    margin-bottom: 0px;
}
small>.error{
	margin-left: 100px;
}
.picker__today{
	display: none;
}
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {
				* {
								font-size: 16px;
				}
}

@media only screen and (min-width: 1900px) {
				* {
								font-size: 18px;
				}
}
