.document-container {
				position: absolute;
				width: 100%;
				height: 100%;
				overflow: hidden !important;
				z-index: -1;
}

.sidebar {
				background: #FFFFFF;
				position: absolute;
				width: 220px;
				height: 100%;
}

.sidebar-content-menu {
				background: #AA182C;
				position: absolute;
				border-right: solid 4px #FFFFFF;
				width: 35%;
				height: 100%;
				overflow-y: scroll;
}

.sidebar-content-menu .collection li {
				border: none;
				margin: 0px 0px;
				/* border-radius: 5px; */
				padding: 15% 30%;
				text-align: center;
}

.sidebar-content-menu .collection {
				border: none !important;
				padding: 0px !important;
				margin: 0px 0px !important;
				color: rgba(0, 0, 0, 0.7);
				border-radius: 0px;
}

.sidebar-content-menu .collection li:hover {
		cursor: pointer;
		background: rgba(255, 255, 255, .2);
}

.sidebar-content-menu .collection li.active {
				/* background:#AA182C !important; */
				background: #fff;
				/* box-shadow:inset 2px -1px 0px 1px #AA182C; */
				border-left: solid 5px #AA182C !important;
				color: #AA182C;
}

.sidebar-content-menu .collection li.active:hover {
	cursor: pointer;
  background: rgba(255, 255, 255, .2);
}

.sidebar-content-menu .collection li.active i {
				color: #AA182C !important;
				margin-left: -5px;
}

.sidebar-content-menu .divider {
				background: #eee !important;
				padding: .5px !important;
				margin: 15px 0px !important;
}

.sidebar-content-detail {
				background: #FFFFFF;
				position: absolute;
				margin-left: 35%;
				width: 65%;
				height: 100%;
}

.sidebar-content-detail .collection {
				border: none !important;
				padding: 0px !important;
				margin: 0px 0px !important;
				color: rgba(0, 0, 0, 0.7);
				border-radius: 0px;
}

.sidebar-content-detail .sidebar-content-detail-text {
				display: block;
        margin-block-start: 20px;
        margin-inline-start: 20px;
        margin-inline-end: 20px;
				font-size: 20px;
				line-height: 110%;
}

.sidebar-content-detail .sidebar-content-detail-count {
				display: block;
        margin-block-end: 20px;
        margin-inline-start: 20px;
        margin-inline-end: 20px;
				color: #AA182C;
				font-size: 25px;
				line-height: 110%;
}

.sidebar-logo {
				width: 40px;
				height: 40px;
				position: absolute;
				margin-top: 10px;
				display: block;
}

.sidebar-logo-text {
				position: absolute;
				/* width: 150px; */
				height: 25px;
				margin-top: 20px;
				margin-left: 50px;
}

.sidebar-header {
				padding: 0px 10px;
				height: 64px;
				background: #AA182C;
				border-bottom: solid 4px #FFFFFF;
}

.sidebar-header ul {
				margin-top: 20px;
				margin-left: 10px;
}

.side-nav .user-view {
	background: url(../../images/background/login.png) no-repeat center center / cover ;
	height: 200px;
}

.side-nav .user-view .side-profile{
	margin-top: 18px;
	margin-left: 20px;
}
.side-nav .user-view .side-name{
	color: #FFFFFF;
	margin-top: 100px;
  margin-left: 20px;
  font-size: 20px;
}
.side-nav .user-view .side-email{
	color: #FFFFFF;
	font-size: 20px;
	/* margin-top: 130px; */
  margin-left: 20px;
}
.side-nav .user-view.get-login .login-logo.logo{
	width: 70px;
}
.side-nav .user-view.get-login .login-logo-text{
	margin-top: -20px;
}
.side-nav .user-view.get-login .login-btn{
	margin-top: 20px;
}

.navbar-top {
				position: absolute;
				background: none;
				padding: 0px 0px;
				height: 65px;
				box-shadow: none;
				border-bottom: solid 5px #FFFFFF;
				background: #AA182C;
				margin-left: 220px;
				width: calc(100% - 220px);
}

.navbar-top ul.left li a {
				margin-top: -1px;
}

.navbar-top ul.right li a {
				margin-top: -1px;
}

.navbar-top ul li a:hover {
		cursor: pointer;
		background: rgba(255, 255, 255, .2);
}
.navbar-top > ul.right.lg-login-mobile{
	margin-top: 3px;
}
img.auth_profile {
				width: 24px;
				height: 24px;
				border-radius: 50px;
				margin-top: 18px;
				margin-left: -30px;
				position: absolute;
}

.bar-lg-profile>span.name {
				margin: 0 35px;
}

#table_content tr:hover{
	cursor: pointer;
}
/* sidbar menu */
.lg-sidbar {
	display: none;
}

.md-sidebar {
				display: none;
}

.sm-sidebar {
				display: none;
}

/* sidbar menu */

.select_search {
				font-size: 16px;
				margin: 7px 100px;
}
.btn_search_advance {
				margin-left: 110px;
}
.main {
				position: absolute;
				background: none;
				padding: 0px 0px;
				height: calc(100% - 60px);
				box-shadow: none;
				/* box-shadow: 0px 0px 2px rgba(0, 0, 0, .3); */
				margin-left: 220px;
				width: calc(100% - 220px);
				margin-top: 65px;
				/* z-index: -1; */
				/* overflow-y: auto; */
}
.main-container .row .advert{
	position: absolute;
	overflow-y: auto;
	width: 70%;
	height: calc(100%);
	padding-bottom: 100px;
	background: #EEEEEE;
}
.main-container .row .announce {
	position: absolute;
	width: 30%;
	margin-left: 70%;
  height: 100%;
	padding-bottom: 100px;
	padding: 0 10px;
}
.main-container .row .content-announce {
	position: absolute;
	width: 95%;
	height: calc(100% - 85px);
	padding-bottom: 100px;
	overflow-y: auto;
}
.announce .announce-header{
	height: 80px;
	background: #AA182C;
}
.announce .announce-header img{
	height: 80px;
}
.announce .announce-header span{
	font-size: 25px;
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	margin-top: -75px;
}
.announce .card-announce-id{
	margin: 1rem 0 .2rem 0;
	background: #EEEEEE;
	border-radius: 10px 10px 10px 10px;
}
.announce .card-announce-id .card-header{
	background: #AA182C;
	padding: 5px 15px;
	border-radius: 10px 10px 10px 10px;
	font-size: 20px;
	color: #FFFFFF;
}
.announce .card-announce-id .title-content{
	font-size: 20px;
	padding: 5px 25px;
}
.announce .card-announce-id .title-content span{
	margin: 10px 0;
	font-size: 20px;
}
.announce .card-announce-id .card-content{
	padding: 5px 50px;
}
.announce .card-announce-id .card-content .item-card{
	width: 25px;
}
.announce .card-announce-id .card-content td{
	padding: 0;
	font-size: 16px;
}
.announce .card-announce-id .card-footer{
	background: #CCCCCC;
	padding: 7px;
	border-radius: 10px 10px 10px 10px;
}
.announce .card-announce-id .card-footer .count{
	font-size: 20px;
	margin-right: 5px;
}
.announce .card-announce-id .card-footer .date{
	margin-left: 4%;
}
.advert .carousel-hidden{
	position: absolute;
	z-index: 50;
	right: 30px;
	top:20px;
}
.advert .carousel-hidden .fas{
	color: #CCCCCC;
}
.advert .carousel-hidden .fas:hover{
	cursor: pointer;
}
.advert .card-advert {
	background: #AA182C;
	border-radius: 30px;
	margin: 5% 5%;
	width: 90%;
	box-shadow: 5px 5px #CCCCCC;
	display:table;
}
.card-advert-content{
 padding: 30px
}
.card-advert-content .advert-count{
	font-size: 100px;
}
.advert .menu{
	height: 80px;
	background: #FFFFFF;
}
.advert .menu.opopacity-bg{
	background: rgba(255, 255, 255, .005);
	/* background: #EEEEEE; */
}
.advert .menu .row{
	margin: 20px;
	float: right;
}
.advert .content{
	position: absolute;
	background: none;
	overflow-y: auto;
	padding: 0px 0px;
	/* height: calc(100% -80px); */
	height: calc(100% - 80px);
	width: 100%;
	padding-bottom: 50px;
	/* background: url(../../images/background/bg_modal_content.png) no-repeat center center / cover ; */
}
.advert .content .header{
	margin: 30px 0;
}
.advert .content .header .background-logo{
	width: 200px;
}
.advert .content .header .header-logo{
	width: 150px;
	/* position: absolute;
	z-index: 10;
	margin-top: 40px;
	margin-left: 40px; */
}
.advert .content .header .text-head{
	font-size: 2em;
	color : #AA182C;
}
.advert .content .title{
	height: 70px;
	line-height: 70px;
	vertical-align: middle;
	padding: 0 30px;
	background: url(../../images/background/bg_modal_header.png) no-repeat center center / cover ;
}
.advert .content .title .title-head{
	font-size: 28px;
}
.advert .content .title .title-location{
	padding-right: 10px;
	font-size: 25px;
}
.advert .content .title .title-location-text{
	font-size: 22px;
	color: #FFFFFF;
}
.advert .content .details{
	margin: 20px;
}
.advert .content .details .details-image{
	width: 400px;
}
.advert .content .details .details-header{
	font-size: 2.5em;
	color : #AA182C;
}
.advert .content .details .details-content{
	display: block;
}
.advert .content .details .salary-image{
	margin: 1.78rem 0 1.424rem 0;
	width: 200px;
}

.advert .select-table{
	margin: 0 30px;
	margin-bottom: 20px;
}
.advert .select-table .select-wrapper{
	background: #AA182C;
	padding: 5px;
	border-radius: 15px;
}
.advert .select-table .select-wrapper span.caret{
	color: #FFFFFF;
	left: 0;
	margin: 25px 20px;
}
.advert .select-table .select-wrapper .select-dropdown{
	margin: 0 40px;
	border: 0;
	font-size: 20px;
	color: #FFFFFF;
}
.advert .select-table .select-wrapper .select-dropdown.dropdown-content.active{
	background: #807d82;
	margin: 0;
}
.advert .select-table .select-wrapper .select-dropdown.dropdown-content>li>span{
	color: #FFFFFF;
}
.advert .favorite-icon{
	z-index: 5;
}
.advert .favorite-icon:hover{
	cursor: pointer;
}
.advert .select-table .select-wrapper .select-dropdown>li>span{
	font-size: 20px;
}
.advert .announce-table {
	margin: 0 40px;
	background: #FFFFFF;
	border-radius: 15px 15px 0 0;
	text-align:center
}
.advert .announce-table>table>thead {
	background: #bfbfbf;
	border-bottom: 0px;
}
.advert .announce-table>table>thead>tr {

}
.advert .announce-table>table>thead>tr>th {
	border-radius: 0px;
	padding: 10px 5px;
}
.advert .announce-table>table>thead>tr>th:first-child {
	border-radius: 10px 0 0 10px;
}
.advert .announce-table>table>thead>tr>th:last-child {
	border-radius: 0 10px 10px 0;

}
.advert .announce-table>table tbody>tr>td , .advert .announce-table>table>thead>tr>th{
	text-align:center
}
.advert .announce-table>table>tbody>tr:nth-child(2n+0) {
	background: #EEEEEE;
}
.advert .announce-table>table>tbody>tr>td>img{
	width: 15px;
}
.advert .announce-table-mobile {
	margin: 0 40px;
	display: none;
	/* background: #bfbfbf; */
}
.advert .table-mobile{
		background: #FFFFFF;
		border-radius: 5px 5px 0 0;
}
.advert .table-mobile .table-mobile-header{
	background: #bfbfbf;
	border-radius: 5px;
	/* height: 40px; */
	word-wrap: break-word;
	padding: 10px 10px 0px 10px;
	/* text-align: center; */
	/* vertical-align: middle;
	line-height: 30px; */
}
.advert .table-mobile .table-mobile-header img{
	margin-right: 10px;
	width: 15px;
}
.advert .table-mobile .table-mobile-header span{
	margin: 5px;
	font-size: 20px;
	color: #AA182C;
	/* position: absolute; */
}
.advert .table-mobile .table-mobile-content{
	height: 115px;
	padding: 10px 25px;
}
.advert .table-mobile .table-mobile-content .data-content{
	display: block;
}
.advert .table-mobile .table-mobile-content .data-content .fas{
	color: #AA182C;
	margin: 2px 10px;
}
.advert .table-mobile .table-mobile-content .data-content.price{
	font-size: 20px;
	margin-top: 5px;
	color: #AA182C;
}
.advert .table-mobile .table-mobile-content .data-content.date{
	margin-top: 10px;
}
.advert .table-mobile .table-mobile-content .data-content-detail{
}

.main-container .announce{
	position: absolute;
	margin: 2%;
	width: 96%;
  height: 100%;
	padding-bottom: 100px;
	overflow-y: auto;
}
.container-company{
	margin: 0 20%;
  max-width: 1280px;
	width: 60%;
	position: absolute;
  height: 100%;
	padding-bottom: 100px;
	overflow-y: auto;
}
.container-company .logo{
	width: 100px;
}
.container-company .map{
	width: 500px;
}
.collapsible .collapsible-header img.img-card{
	width: 40px;
	height: 40px;
}

/* Modal */
.modal {
				padding-top: 5%;
				padding-bottom: 5%;
				position: fixed;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: none;
				z-index: 1000;
				overflow-y: auto;
				overflow: auto;
				max-height: 100%;
}

.modal-dialog {
				z-index: 1000;
				/* width: 60%; */
				width: 50%;
				top: 0;
				left: 0;
				background: #fff;
				border-radius: 25px;
				margin-left: 20%;
				box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
}

.modal-dialog.lg {
				width: 80%;
				margin-left: 10%
}

.modal-dialog.sm {
				width: 30%;
				margin-left: 35%
}

.modal-header {
				padding: 20px 40px;
				background: url(../../images/background/bg_modal_header.png) no-repeat center center / cover ;
				border-radius: 25px 25px 0px 0px;
}

.preview-close {
				padding: 15px;
				padding-left: 30px;
				padding-right: 15px;
				background: rgba(0, 0, 0, 0.2);
				font-size: 1.5em;
				color: #fff;
				border-radius: 0px 0px 0px 50px;
				position: fixed;
				right: 0;
				z-index: 9999;
}

.modal-footer {
				padding: 15px 25px;
				border-top: solid 1px #eee;
				border-radius: 0px 0px 25px 25px;
}

.modal-dialog-content {
				width: 100%;
				padding: 10px 10px;
}

.modal-backdrop {
				background: rgba(0, 0, 0, .3);
				position: fixed;
				width: 100%;
				height: 120%;
				top: 0;
				left: 0;
				z-index: 999;
				display: none;
				overflow-y: auto;
				margin-bottom: 100px !important;
}

.modal-backdrop-context {
				background: rgba(0, 0, 0, .3);
				position: fixed;
				width: 100%;
				height: 120%;
				top: 0;
				left: 0;
				z-index: 999;
				display: none;
				overflow-y: auto;
				margin-bottom: 100px !important;
}

/* Modal ------- end */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.navbar-top>ul.right{
		display: none;
	}
	nav.navbar-top > ul.right.lg-login-mobile{
		display: inline;
	}
	.sm-sidebar{
		display: inline;
	}
	.sidebar>.sidebar-header .sidebar-logo-text,.sidebar>.sidebar-header .sidebar-logo{
		display: none;
	}
	.main {
					width: 100%;
					margin-left: 0;
	}
	.main-container .row .announce {
		display: none;
	}
	.sidebar-content-menu{
		display: none;
	}
	.sidebar-content-detail{
		display: none;
	}
	.main-container .row .advert {
		width: 100%
	}
	.btn_search{
		display: none;
	}
	.btn_search_advance{
		display: none;
	}
	.advert .content .title{
		height: 140px;
	}
	.advert .content .details .details-image {
    width: 300px;
	}
	.advert .announce-table>table{
		display: none;
	}
	.advert .announce-table-mobile{
		display: block;
	}
	.card-advert-content{
	 padding: 20px
	}
	.card-advert-content .advert-count {
	    font-size: 70px;
	}
	.card-advert-content>h3{
	    font-size: 20px;
	}
	.modal-dialog.sm {
					width: 90%;
					margin-left: 5%
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.navbar-top>ul.right{
		display: inline;
	}
	 nav.navbar-top > ul.right.lg-login-mobile{
		display: none;
	}
	.sidebar>.sidebar-header .sidebar-logo-text,.sidebar>.sidebar-header .sidebar-logo{
		display: inline;
	}
	.main-container .row .announce {
		display: none;
	}
	.main {
			width: 100%;
			margin-left: 0;
	}
	.main-container .row .advert{
		width: 100%;
	}
	.sidebar-content-menu{
		display: none;
	}
	.sidebar-content-detail{
		display: none;
	}
	.btn_search{
		display: none;
	}
	.btn_search_advance{
		display: none;
	}
	.advert .content .title{
		height: 140px;
	}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.main-container .row .advert{
		width: 100%;
	}
	.main-container .row .announce {
		display: none;
	}
	.main {
		width: calc(100% - 220px);
		margin-left: 220px;
	}
	.sidebar-content-menu{
		display: inline;
	}
	.sidebar-content-detail{
		display: inline;
	}
	.btn_search{
		display: none;
	}
	.btn_search_advance{
		display: none;
	}
	.advert .content .title{
		height: 140px;
	}
	.advert .announce-table>table{
		display: ;
	}
	.advert .announce-table-mobile{
		display: none;
	}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.main-container .row .advert{
		width: 65%;
	}
	.main-container .row .announce {
		width: 35%;
		margin-left: 65%;
		display: inline;
	}
	.announce .card-announce-id .card-content{
		padding: 5px 20px;

	}
	.btn_search{
		display: inline;
	}
	.btn_search_advance{
		display: inline;
	}
	.announce .card-announce-id .card-footer .date {
		margin-top: 5px;
	}
	.advert .content .title{
		height: 70px;
	}

	.advert .content .header .background-logo{
		width: 150px;
	}
	.advert .content .header .header-logo{
		width: 100px;
		/* margin-top: 30px;
		margin-left: 30px; */
	}
	.advert .content .details .details-image{
		width: 200px;
	}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.main-container .row .advert{
		width: 75%;
	}
	.main-container .row .announce {
		width: 25%;
		margin-left: 75%;
	}
	.advert .content .details .details-image {
    width: 400px;
	}
	.advert .content .header .background-logo{
		width: 200px;
		display: none;
	}
	.advert .content .header .header-logo{
		width: 200px;
		/* margin: 40px; */

	}

}

/* Extra large devices (large laptops and desktops, 1900px and up) */
@media only screen and (min-width: 1900px) {}
