@font-face {
  font-family: 'MyWebFont';
  src: url('../../../system/fonts/Font/DB Heavent Bd v3.2.1.ttf') format('Heavent Bd')
}

*{
  font-family: 'MyWebFont', Fallback, sans-serif;
  color: #414042;
  overflow-y: auto;
}

#wrapper {
  width: 100%;
}
.reset-margin{
  margin: 0;
}
.reset-margin-top{
  margin-top: 0;
}
.reset-margin-{
  margin-bottom: 0;
}
.reset-margin-left{
  margin-left: 0;
}
.reset-margin-right{
  margin-right: 0;
}
.display-disable {
				display: none;
}
.login-register {
  background: url(../../images/background/login.png) no-repeat center center / cover ;
  height: 100%;
  position: fixed;
}
.login-register-text{
  color: white;
  text-align: center;
  margin-top: 20px;
}
.login-register-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.login-card {
  width: 300px;
  margin: 0 auto;
}
.white-card {
  background: url(../../images/background/bg_login.png) no-repeat center center / cover ;
  padding: 25px;
  margin-bottom: 15px;
  border-radius: 50px;
  height: 400px;
}
.input-field label {
     color: #414042;
}
.btn-login {
    margin-top: 20px;
    width: 70%;
    height: 48px;
    border: solid 1px #AA182C;
    background: #AA182C;
    color: #fff;
}
.btn-login:hover {
				background: #b3192e;
}
input[type=text]:not(.browser-default),
input[type=tel]:not(.browser-default){
    margin-bottom: 0px;
}
.row .col.icon-input{
  color: #757575;
  font-size: .95em;
  padding: 25px 10px 0 10px;
}

@media only screen and (max-width: 600px) {
  .login-register-logo{
    width: 120px;
    margin-top: 30px;
  }
  .login-card {
    width: 270px;
    margin-top: 60px;
  }
  .row .col.icon-input{
      padding: 30px 10px 0 10px;
  }
  .btn-login {
      height: 36px;
  }
}

@media only screen and (min-width: 600px) {
  .login-register-logo{
    width: 120px;
    margin-top: 60px;
  }
  .login-card {
    margin-top: 60px;
  }
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {
  .login-register-logo{
    width: 160px;
    margin-top: 40px;
  }
  .login-register-text{
    font-size: 3em;
  }
}

@media only screen and (min-width: 1200px) {
  .login-register-logo{
    width: 160px;
    margin-top: 30px;
  }
  .login-register-text{
    font-size: 3em;
  }
  .login-card {
    margin-top: 50px;
  }
  .white-card {
    padding: 20px;
    margin-bottom: 15px;
    height: 400px;
  }
}

@media only screen and (min-width: 1900px) {
  .login-register-logo{
    width: 160px;
    margin-top: 30px;
  }
  .login-card {
    margin-top: 50px;
  }
}
